---
import Base from '../layouts/Base.astro';
---
<Base title="Contact | RealtyC" description="Contact RealtyC">
  <div class="max-w-3xl mx-auto prose prose-green prose-lg">
    <h1>Contact</h1>
    <p>Email: <a href="mailto:hello@realtycopilot.app">hello@realtycopilot.app</a></p>
  </div>
</Base>
